# <p style="background-color: #d4edda; font-family: Algerian; font-size: 100%; text-align: center; color: black; border-radius: 1000px 50px;">Kathmandu Air Quality: Data Builder</p>

In [1]:
import pandas as pd
import glob
import os

## Build Air Quality Data

In [ ]:
# folder_path = 'aqData'

# all_files = glob.glob(os.path.join(folder_path, "*.csv"))

# df_list = []

# print(f"Found {len(all_files)} files. Starting merge...")

# for filename in all_files:
#     df = pd.read_csv(filename, index_col=None, header=0)
#     df_list.append(df)

# full_df = pd.concat(df_list, axis=0, ignore_index=True)

# full_df['datetimeUtc'] = pd.to_datetime(full_df['datetimeUtc'])
# full_df = full_df.sort_values(by='datetimeUtc')

# # 7. Save to the final CSV file
# full_df.to_csv('aq_data_full.csv', index=False)

# print("Success! Combined file saved as 'aq_data_full.csv'")
# print(f"Total rows: {len(full_df)}")

Found 44 files. Starting merge...
Success! Combined file saved as 'aq_data_full.csv'
Total rows: 29989

## Build Weather Data

In [ ]:
# folder_path = 'weatherData'

# all_files = glob.glob(os.path.join(folder_path, "*.csv"))

# df_list = []

# print(f"Found {len(all_files)} weather files. Processing...")

# for filename in all_files:
#     df = pd.read_csv(filename, index_col=None, header=0, low_memory=False)
#     df_list.append(df)

# weather_df = pd.concat(df_list, axis=0, ignore_index=True)

# weather_df['datetime'] = pd.to_datetime(weather_df['datetime'])
# weather_df = weather_df.sort_values(by='datetime')

# weather_df.to_csv('weather_data_full.csv', index=False)

# print("Success! Combined weather file saved as 'weather_data_full.csv'")
# print(f"Total weather records: {len(weather_df)}")

Found 4 weather files. Processing...
Success! Combined weather file saved as 'weather_data_full.csv'
Total weather records: 2880

## Build Data

In [5]:
def merge_csv_files(
    folder_path: str,
    output_file: str,
    datetime_col: str,
    sort_by_datetime: bool = True
):

    all_files = glob.glob(os.path.join(folder_path, "*.csv"))
    print(f"Found {len(all_files)} files. Starting merge...")

    if not all_files:
        raise FileNotFoundError(f"No CSV files found in {folder_path}")

    df_list = []

    for filename in all_files:
        df = pd.read_csv(filename, index_col=None, header=0)
        df_list.append(df)

    full_df = pd.concat(df_list, axis=0, ignore_index=True)

    if sort_by_datetime and datetime_col in full_df.columns:
        full_df[datetime_col] = pd.to_datetime(full_df[datetime_col], errors="coerce")
        full_df = full_df.sort_values(by=datetime_col)

    full_df.to_csv(output_file, index=False)

    print(f"Success! Combined file saved as '{output_file}'")
    print(f"Total rows: {len(full_df)}")

    return full_df.head()

In [4]:
merge_csv_files(
    folder_path="../aqData",
    output_file="aq_data_full.csv",
    datetime_col="datetimeUtc",
)

Found 44 files. Starting merge...
Success! Combined file saved as 'aq_data_full.csv'
Total rows: 29989

,location_id,location_name,parameter,value,unit,datetimeUtc,datetimeLocal,timezone,latitude,longitude,country_iso,isMobile,isMonitor,owner_name,provider
9908,3459,Embassy Kathmandu,pm25,74,µg/m³,2022-01-01 00:15:00+00:00,2022-01-01T06:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow
9909,3459,Embassy Kathmandu,pm25,95,µg/m³,2022-01-01 01:15:00+00:00,2022-01-01T07:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow
9910,3459,Embassy Kathmandu,pm25,99,µg/m³,2022-01-01 02:15:00+00:00,2022-01-01T08:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow
9911,3459,Embassy Kathmandu,pm25,133,µg/m³,2022-01-01 03:15:00+00:00,2022-01-01T09:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow
9912,3459,Embassy Kathmandu,pm25,133,µg/m³,2022-01-01 04:15:00+00:00,2022-01-01T10:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7905,3459,Embassy Kathmandu,pm25,58,µg/m³,2025-12-22 05:15:00+00:00,2025-12-22T11:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow
7906,3459,Embassy Kathmandu,pm25,60,µg/m³,2025-12-22 06:15:00+00:00,2025-12-22T12:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow
7907,3459,Embassy Kathmandu,pm25,48,µg/m³,2025-12-22 07:15:00+00:00,2025-12-22T13:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow
7908,3459,Embassy Kathmandu,pm25,24,µg/m³,2025-12-22 08:15:00+00:00,2025-12-22T14:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow
7909,3459,Embassy Kathmandu,pm25,25,µg/m³,2025-12-22 09:15:00+00:00,2025-12-22T15:00:00+05:45,Asia/Kathmandu,27.738703,85.336206,NaN,NaN,NaN,Unknown Governmental Organization,AirNow

In [7]:
merge_csv_files(
    folder_path="../weatherData",
    output_file="weather_data_full.csv",
    datetime_col="datetime",
)

Found 39 files. Starting merge...
Success! Combined file saved as 'weather_data_full.csv'
Total rows: 28080

,name,datetime,temp,feelslike,dew,humidity,precip,precipprob,preciptype,snow,...,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,severerisk,conditions,icon,stations
9336,Kathmandu,2022-01-01 00:00:00,42.8,41.2,41.0,93.3,0.0,0,NaN,0,...,1025.0,28.0,3.1,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"44454099999,VNKT"
9337,Kathmandu,2022-01-01 01:00:00,42.8,42.8,41.0,93.3,0.0,0,NaN,0,...,1025.0,28.0,3.1,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"44454099999,VNKT"
9338,Kathmandu,2022-01-01 02:00:00,41.0,39.1,41.0,100.0,0.0,0,NaN,0,...,1024.0,28.0,3.1,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"44454099999,VNKT"
9339,Kathmandu,2022-01-01 03:00:00,41.0,41.0,41.0,100.0,0.0,0,NaN,0,...,1024.0,28.0,3.1,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"44454099999,VNKT"
9340,Kathmandu,2022-01-01 04:00:00,39.2,35.8,39.2,100.0,0.0,0,NaN,0,...,1024.0,28.0,2.5,0.0,0.0,0,NaN,Partially cloudy,partly-cloudy-night,"44454099999,VNKT"